<!DOCTYPE html>
<html>
<head>
	<%- include("components/common_head")%>
</head>
<body>

<%- include("components/header") %>

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-12 am-u-sm-12">
        <% blogs.forEach(function( blog) { %>
        <%- include("components/blog-content", {blog: blog}) %>
        <% })%>
    </div>
</div>
<!-- content end -->
<%- include("components/footer") %>
</body>
</html>
