<%- include("header") %>
<div>
	<form method="post" action="/blogs/create">
		<input type="text" name="title" placeholder="标题"><br/>
		<textarea name="content" id="" cols="30" rows="10"></textarea>
		<input type="submit" value="提交">
	</form>
	
</div>

<%- include("footer")%>