<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%- include('components/common_head')%>
</head>
<%- include('components/header')%>
<div>欢迎来到首页</div>
<%- include('components/footer')%>
<body>
</body>
</html>